
body{
	margin: 0 15px;
}

#app{
	max-width: 1150px;
	margin: 0 auto;
}

section{
	padding :1rem;
}

.works{
  padding : 0 1rem 1.5rem 1rem;
  background: #fff;
}
.cta.filter {
  background: aliceblue;
  margin-left: -1rem;
  margin-right: -1rem;
}
.filter {
	margin: 0;
	font-family: 'Poppins', helvetica;
	font-size: 0.875rem;
	text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.filter a {
  display: inline-block;
  padding: 10px;
  color: #4db6ac;
  position: relative;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boxes article {
  margin: 0;
  padding: 1em;
  line-height: 1em;
  box-sizing: border-box;
}

.item {
  margin: 0;
  padding: 2em 1em;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.filter a.active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #333 transparent transparent transparent;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}