<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset = UTF-8">
<title>Program Works</title>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	margin: 0;
	padding:0;
}

#app{
	margin: 0 auto;
}

main{
	max-width: 1150px;
	margin: 0 auto;
	padding:0;
}

.brand{
  cursor: pointer;
}

.pagetop{
  position: fixed;
  bottom: 8px;
  right: 8px;
  background-color: slategray;
  border-radius: 50%;
  cursor: pointer;
}

section{
	margin:1rem 0 2.5rem;
	padding:0;
}

.works{
  padding : 0 1rem 1.5rem 1rem;
  background: #fff;
}

.worksmenu{
  background: aliceblue;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.cta.filter {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .cta.filter {
    width: 100%;
  }
}

.filter {
	font-family: 'Poppins', helvetica;
	font-size: 0.875rem;
	text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.filter a {
  display: inline-block;
  padding: 10px;
  color: #4db6ac;
  position: relative;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boxes article {
  margin: 0;
  padding: 1em;
  line-height: 1em;
  box-sizing: border-box;
}

.item {
  margin: 0;
  padding: 2em 1em;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.filter a.active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: #333 transparent transparent transparent;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
</style>
</head>
<body>

<div id="app">
<b-navbar toggleable="lg" type="dark" variant="dark" sticky>
  <b-navbar-brand @click="toTop"><span class="brand">Portofolio</span></b-navbar-brand>

  <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

  <b-collapse id="nav-collapse" is-nav>
    <b-navbar-nav>
      <b-nav-item href="#about">About</b-nav-item>
      <b-nav-item href="#works">Works</b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
  
<main>

<section id="about">
<b-jumbotron header="About">

<h5>経歴</h5>
<p>生物学系学部卒
<br>→IT系勤務</p>
<p>Java
<br>→C#(テスト)
<br>→Webデザイン(HTML,CSS,JQuery,あとphotoshopとIllustlatorを少々)
<br>→Wordpress開発</p>
<p>最近はJavascriptフレームワーク開発(Vue,React)など</p>
</b-jumbotron>
</section>

<section id="works">
<b-jumbotron header="Works">
<h5>作品集</h5>
<p>主にフロントエンド<br>HTML+CSS+JQuery コーディング中心</p>

<div class ="worksmenu">
<div class="cta filter">
  <a v-for="item in list" 
    @click="changeTab(item.id)" 
    @keyup.enter="changeTab(item.id)"
    class="filter"
    :class="{active:active(item.id)}">{{ item.label }}</a>
</div>
</div>

<div class ="works">

<div class ="containor">
<div class="row">
<div class="col-12">
<div class="box">
<div class="boxes">
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="https://troublecentral.herokuapp.com/" target="_blank">DNA playground</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(8)">
      <div class="item h-100">
        <a href ="https://dnarandomize.herokuapp.com/" target="_blank">DNA自動作成・解析</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(1)">
      <div class="item h-100">
        <a href ="ajax-favo\page.html" target="_blank">お気に入り登録</a>
      </div>
    </article>
  </transition>
  <!-- <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(1)">
      <div class="item h-100">
        <a href ="ajax-json/sample.html" target="_blank">jsonでお知らせ表示</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(1)">
      <div class="item h-100">
        <a href ="ajax-map/main.html" target="_blank">ajax世界地図</a>
      </div>
    </article>
  </transition> -->
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(2)">
      <div class="item h-100">
        <a href ="bootstrap-flex/index.html" target="_blank">gallery1</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(2)">
      <div class="item h-100">
        <a href ="bootstrap-gallery/tags.html" target="_blank">gallery2</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(3)">
      <div class="item h-100">
        <a href ="css-button/test.html" target="_blank">button efect</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(3)">
      <div class="item h-100">
        <a href ="css-textslide/animation.html" target="_blank">Text Slide</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-bg_slide/bgslide.html" target="_blank">BG Slide</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-clip/CSS-Clip.html" target="_blank">image-clip</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-draganddrop/draganddrop.html" target="_blank">三目並べもどき</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6" v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-efect/eff.html" target="_blank">jQuery練習</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-newsticker/trend.html" target="_blank">Newsticker</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(4)">
      <div class="item h-100">
        <a href ="jquery-slider/memo.html" target="_blank">スライダー</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="vue-anchoko\anchoko.html" target="_blank">あんちょこ君</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="vue-quiz\index.html" target="_blank">死にゲー</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(6)">
      <div class="item h-100">
        <a href ="https://github.com/WaiEnu/2019_portofolio_cording/tree/master/php-blog_jisaku" target="_blank">自作ブログ</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(7)">
      <div class="item h-100">
        <a href ="javascript-BOID/BOID.html" target="_blank">BOIDモデル</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(7)">
      <div class="item h-100">
        <a href ="javascript-langtonsAnt/Langton's_ant.html" target="_blank">ラングトンの蟻</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(7)">
      <div class="item h-100">
        <a href ="javascript-lifegame/LifeGame.html" target="_blank">ライフゲーム</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(7)">
      <div class="item h-100">
        <a href ="javascript-dahune/dahune.html" target="_blank">ダフネの月(anime)</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(7)">
      <div class="item h-100">
        <a href ="javascript-marble/index.html" target="_blank">ライカはビー玉の中</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="aquarium_walk/index.html" target="_blank">Aquarium Walk</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="mizusokoASMR/index.html" target="_blank">海底ASMR</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="DrakeEquation/index.html" target="_blank">ドレイクの方程式</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="https://waienu.github.io/periodic-table/" target="_blank">周期表</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(9)">
      <div class="item h-100">
        <a href ="https://waienu.github.io/kaeru_weather/" target="_blank">天気予報</a>
      </div>
    </article>
  </transition>
  <transition name="bounce">
    <article class="cnt col-md-4 col-sm-4 col-xs-6"  v-if="tab(5)">
      <div class="item h-100">
        <a href ="/v-keyboad/index.html" target="_blank">Virtual Keyboad</a>
      </div>
    </article>
  </transition>
</div>
</div>
</div>
</div>
</div>

</div>

</b-jumbotron>
</section>

</main>

<transition name="fade">
  <div id="pagetop" class="pagetop" v-show="scY > 200" @click="toTop">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none"
         stroke="#fff"
         stroke-width="1" stroke-linecap="square" stroke-linejoin="arcs">
      <path d="M18 15l-6-6-6 6"/>
    </svg>
  </div>
</transition>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<script>
const app = new Vue({
  el:"#app",
  data() {
    return {
      current: 0,
      list: [
        {id: 0, label: 'All'},
        {id: 1, label: 'Ajax'},
        {id: 2, label: 'Bootstrap'},
        {id: 3, label: 'CSS'},
        {id: 4, label: 'JQuery'},
        {id: 5, label: 'Vuejs'},
        {id: 6, label: 'PHP'},
        {id: 7, label: 'Canvas'},
        {id: 8, label: 'python'},
        {id: 9, label: 'Reactjs'},
      ],
      scTimer: 0,
      scY: 0,
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll);
  },
  methods: {
    active: function(id) {
      return this.current == id
    },
    changeTab: function(id) {
      this.current = id
    },
    tab: function(id) {
      return this.current == 0 || this.current == id
    },
    handleScroll: function () {
      if (this.scTimer) return;
      this.scTimer = setTimeout(() => {
        this.scY = window.scrollY;
        clearTimeout(this.scTimer);
        this.scTimer = 0;
      }, 100);
    },
   toTop: function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
  }
})
</script>
</body>
</html>
