<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Virtual Keyboad</title>
  <link rel="stylesheet" href="keyboad.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<body>
<div id="app">
  <div class="text-wrap">
    <textarea id="text" rows="3" v-model="output"></textarea>
  </div>
  <div class="wrap" @click="hidden"></div>
  <div class="keyboard" v-bind:class="{ 'keyboard--hidden' : isHidden }">
    <div class="keyboard__keys" v-for="keys in keyLayout">
      <button
        v-for="key in keys"
        type="button"
        class="keyboard__key"
        :class="spec(key)"
        @click="trigger(key)">
        <i class="material-icons" v-if="spec(key)!=''">{{key}}</i>
        <span v-else>{{key}}</span>
      </button>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="keyboad/keyboad.js">
const app=new Vue({
  el: '#app',
  data: {
    keyLayout:[
      [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "keyboard_backspace"],
      ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p"],
      ["keyboard_capslock", "a", "s", "d", "f", "g", "h", "j", "k", "l", "keyboard_return"],
      ["check_circle", "z", "x", "c", "v", "b", "n", "m", ",", ".", "?"],
      ["space_bar"]
    ],
    specKey:[
      {
        name:'keyboard_backspace',
        class:'keyboard__key--wide',
      },
      {
        name:'keyboard_capslock',
        class:'keyboard__key--wide keyboard__key--activatable',
      },
      {
        name:'keyboard_return',
        class:'keyboard__key--wide',
      },
      {
        name:'check_circle',
        class:'keyboard__key--wide keyboard__key--dark',
      },
      {
        name:'space_bar',
        class:'keyboard__key--extra-wide',
      }
    ],
    isCapsLock: false,
    isHidden:false,
    output:"",
  },
  methods: {
    spec:function(key){
      let r=this.specKey.filter(function(item){
        if (item.name == key) return true;
      });
      return r.length==0?"":r[0].class; 
    },
    trigger:function(key){
      if(key==="keyboard_capslock"){
        this.capsLock();
      }else if(key==="check_circle"){
        this.hidden();
      }else {
        this.oninput(key);
      }
    },
    oninput:function(key){
      if(key==="keyboard_backspace"){
        this.output = this.output.substring(0, this.output.length - 1);
      }else {
        let l="";
        if(key==="keyboard_return"){
          l='\n';
        }else if(key==="space_bar"){
          l=' ';
        }else {
          l=key;
        }
        this.output = this.output+l;
      }
    },
    capsLock:function(){
      console.log('capsLock')
      this.isCapsLock = !this.isCapsLock;
      let result=[];
      for (let layout of this.keyLayout) {
        let tmp=[];
        for (let key of layout) {
          if (this.spec(key)=='') {
            key=this.isCapsLock ? key.toUpperCase() : key.toLowerCase();
          }
          tmp.push(key);
        }
        result.push(tmp);
      }
      this.keyLayout = result;
    },
    hidden:function(){
      this.isHidden = !this.isHidden;
    },
  }
})
</script>
</body>
</html>
